/*=-=-=-=-=-=-=-=-=-=-=-=- Start Relative Box -=-=-=-=-=-=-=-=-=-=-=-=-=*/
.create-site {
  position: fixed;
  background: #121212;
  right: 5px;
  bottom: 10px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 80px; }
.create-site__link {
  display: flex;
  align-items: center;
  text-decoration: none; }
.create-site__link__icon {
  line-height: 0; }
.create-site__link .link__title {
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding-inline-start: 20px;
  font-size: 23px; }
.create-site__link .title__small-site {
  padding-block-start: 5px;
  font-size: 12px; }

/*=-=-=-=-=-=-=-=-=-=-=-=- End Relative Box -=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=- Start Header -=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@media (max-width: 767px) {
  header {
    position: fixed;
    z-index: 999;
    background: #FFF;
    width: 100%;
    top: 0; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    position: fixed;
    z-index: 999;
    background: #FFF;
    width: 100%;
    top: 0; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
@media (max-width: 767px) {
  .navbar {
    margin-block-start: 20px;
    margin-block-end: 0; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    margin-block-start: 10px;
    margin-block-end: 0; } }
@media (min-width: 992px) {
  .navbar {
    margin-block-start: 20px;
    margin-block-end: 20px; } }
@media (min-width: 1200px) {
  .navbar {
    margin-block-start: 40px;
    margin-block-end: 20px; } }
.navbar .collection-left__lists, .navbar .collection-right__list {
  display: flex; }
@media (max-width: 767px) {
  .navbar .collection-left__lists, .navbar .collection-right__list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -40px;
    left: -1030px;
    z-index: 9999;
    font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;
    background: #fafafa;
    padding-block-start: 80px;
    padding-inline-start: 50px;
    letter-spacing: 5px;
    transition: 1s all; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .collection-left__lists, .navbar .collection-right__list {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -40px;
    left: -1030px;
    z-index: 9999;
    font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;
    background: #fafafa;
    padding-block-start: 80px;
    padding-inline-start: 50px;
    letter-spacing: 5px;
    transition: 1s all; } }
@media (min-width: 992px) {
  .navbar .collection-left__lists, .navbar .collection-right__list {
    text-transform: capitalize;
    width: auto;
    display: flex;
    position: unset;
    flex-direction: unset;
    height: auto;
    font-size: unset;
    padding: unset;
    letter-spacing: 1px;
    line-height: unset; } }
.navbar .collection-left__lists .lists__item, .navbar .collection-right__list .lists__item, .navbar .collection-right__list .list_item {
  padding-inline: 10px; }
.navbar .header__headding {
  letter-spacing: 5px; }
.navbar .header__headding .headding__link {
  color: #000;
  text-decoration: none; }
@media (max-width: 767px) {
  .navbar .collection-right__list {
    flex-direction: column;
    position: fixed;
    left: -1030px;
    top: 190px;
    z-index: 9999;
    font-size: 25px;
    line-height: 50px;
    background: #fafafa;
    width: 100%;
    height: 100vh;
    padding-block-start: 0;
    padding-inline-start: 50px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .collection-right__list {
    flex-direction: column;
    position: fixed;
    left: -1030px;
    top: 190px;
    z-index: 9999;
    font-size: 25px;
    line-height: 50px;
    background: #fafafa;
    width: 100%;
    height: 100vh;
    padding-block-start: 0;
    padding-inline-start: 50px; } }
@media (min-width: 992px) {
  .navbar .collection-right__list {
    text-transform: capitalize;
    width: auto;
    display: flex;
    position: unset;
    flex-direction: unset;
    height: auto;
    font-size: unset;
    padding: unset;
    letter-spacing: 1px;
    line-height: unset; } }

#item__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6); }
#item__link:hover {
  color: #707070; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=- End Header -=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.main .main__image .control .join-today, .main .main__image .control .donaty-today {
  width: 70%;
  padding-block: 30px;
  font-size: small;
  font-weight: bolder;
  text-transform: uppercase;
  color: #FFF;
  background-color: #0000000b;
  border-radius: 3px;
  border: 2px solid #FFF;
  outline: 0; }
.main .main__image .control .join-today:hover, .main .main__image .control .donaty-today:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #FFF;
  cursor: pointer; }

.mobile {
  position: absolute;
  top: 20%;
  right: 70px;
  width: 0;
  height: 100%;
  background: #FFF; }
@media (max-width: 767px) {
  .mobile {
    display: block; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile {
    display: block; } }
@media (min-width: 992px) {
  .mobile {
    display: none; } }
.mobile .screen__btn {
  display: block;
  background: #000;
  width: 60px;
  height: 9px; }
.mobile .screen__btn:not(:last-of-type) {
  margin-block: 5px; }

.mobil__close {
  background: #121212;
  color: #FFF;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 99999999;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  padding-block: 20px;
  padding-inline: 20px;
  transition: 1s all; }
@media (max-width: 767px) {
  .mobil__close {
    display: block; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobil__close {
    display: block; } }
@media (min-width: 992px) {
  .mobil__close {
    display: none; } }

.information .information__form .form .form__btn {
  width: 150px;
  height: 50px;
  outline: none;
  font-size: 20px;
  font-weight: bolde;
  letter-spacing: 2px;
  color: #525252;
  background: #fafafa;
  border-radius: 3px;
  border: 2px solid #525252;
  cursor: pointer;
  -mos-transition: 1s all;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  -xs-transition: 1s all;
  transition: 1s all; }
.information .information__form .form .form__btn:hover {
  background: #525252;
  color: #FFF; }

.container {
  margin: auto;
  width: 1230px;
  position: relative;
  padding-inline: 15px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (max-width: 767px) {
  .container-image.margin-top-img {
    margin-block-start: 25%; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-image.margin-top-img {
    margin-block-start: 25%; } }

.container-image {
  width: 98%;
  margin: auto; }

.header__aggen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(220, 149, 149, 0.07); }

.image__logo-text, .main .main__history .history__logo, .main .main__image, .our-impact-logo {
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.image__logo-text .overly .layout-text .logo-text__headding, .image__logo-text .logo__title {
  position: absolute;
  top: 50%;
  color: #FFF;
  text-align: center;
  font-weight: bolder;
  margin-block-start: 150px; }
@media (max-width: 767px) {
  .image__logo-text .overly .layout-text .logo-text__headding, .image__logo-text .logo__title {
    font-size: 80px;
    margin-block-start: 75px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .image__logo-text .overly .layout-text .logo-text__headding, .image__logo-text .logo__title {
    font-size: 80px; } }
@media (min-width: 992px) {
  .image__logo-text .overly .layout-text .logo-text__headding, .image__logo-text .logo__title {
    font-size: 80px; } }
@media (min-width: 1200px) {
  .image__logo-text .overly .layout-text .logo-text__headding, .image__logo-text .logo__title {
    font-size: 100px; } }

.main .main__image .control .join-today:hover, .main .main__image .control .donaty-today:hover, .footer .footer__collection .collection__item .scoil__link, .footer .footer__collection .collection__item .item__link, .footer .footer__copyright .copyright__link {
  -webkit-transition: 0.6s all;
  -mos-transition: 0.6s all;
  -xs-transition: 0.6s all;
  -o-transition: 0.6s all;
  transition: 0.6s all; }

body {
  background: #fafafa;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  height: 1500px; }

* {
  -webkit-box-sizing: border-box;
  -mos-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

ul, ol {
  list-style: none;
  padding: 0; }

@media (max-width: 767px) {
  .mapouter, .gmap_canvas {
    width: 470px !important; }

  iframe.gmap_iframe {
    width: 500px !important; } }
/* Start the first page home /Main/ */
.image__logo-text {
  height: 690px;
  background-image: url(../Images/Desert\ 1.png); }
@media (max-width: 767px) {
  .image__logo-text {
    background-position: 50% 20px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .image__logo-text {
    background-position: 50% 20px; } }
@media (min-width: 1200px) {
  .image__logo-text {
    background-position: 70% 40%; } }
.image__logo-text .overly {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 19, 17, 0.5); }
.image__logo-text .overly .layout-text {
  display: flex;
  align-items: center;
  justify-content: center; }
.image__logo-text .overly .layout-text .logo-text__headding {
  letter-spacing: -2.1px; }
.image__logo-text .logo__small-title {
  font-size: 20px;
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translate(0, 500px); }

.main {
  margin-block-start: 150px; }
.main .main__home .home__title {
  margin-block-end: 100px; }
.main .home__row {
  line-height: 1.5;
  margin-block-end: 150px; }
@media (max-width: 767px) {
  .main .home__row {
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .home__row {
    text-align: center; } }
@media (min-width: 992px) {
  .main .home__row {
    display: flex; } }
.main .home__row .row__text {
  position: relative; }
@media (min-width: 1200px) {
  .main .home__row .row__text {
    width: calc(100% / 4);
    position: relative; }
  .main .home__row .row__text:not(:last-of-type) {
    margin-inline-end: 20px; } }
.main .home__row .row__text .text__number {
  color: #525252; }
.main .home__row .row__text .text__slash:after {
  content: '';
  position: absolute;
  top: 40px;
  width: 25px;
  height: 2px;
  background: #525252;
  margin-inline-start: -25px; }
.main .home__row .row__text .text__pragraghe {
  color: #cdcdcd;
  font-size: 20px; }
.main .main__history .history__logo {
  /* Logo Main */
  background-image: url(../Images/Desert\ 2.png);
  height: 800px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .main__history .history__logo {
    background-position: 45% 170px; } }
@media (min-width: 992px) {
  .main .main__history .history__logo {
    background-position: 100% 100%; } }
@media (min-width: 1200px) {
  .main .main__history .history__logo {
    background-position: 100% 100%; } }
.main .main__history .history__text {
  padding-block: 150px; }
.main .main__image {
  background-image: url(../Images/Desert\ 3.png);
  min-height: 650px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .main .main__image {
    background-position: 50% 230px; } }
@media (min-width: 992px) {
  .main .main__image {
    background-position: 100% 100%; } }
@media (min-width: 1200px) {
  .main .main__image {
    background-position: 100% 100%; } }
.main .main__image .control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 50px; }
.main .main__image .control .control__text {
  color: #FFF;
  position: relative;
  top: 30px; }
.main .main__image .control .control__headin {
  color: #FFF;
  font-size: 80px; }

/*=-=-=-=-=-=-=- Malite Code in home Page Alone -=-=-=-=-=-=-=-=-=*/
.main .main__home .home__title .title__hedding, .main .main__history .history__text .history__headin {
  color: #525252;
  font-size: 50px; }

.main .main__home .home__title .title__text, .main .main__history .history__text .text__pragrghe, .our-impact .our-impact__title .title__text, .graph .our-impact__title .title__text, .our-team .team__person-one .person-one__title .title__text, .our-team .team__person-two .person-two__title .title__text, .our-team .team__person-three .person-three__title .title__text {
  line-height: 1.5;
  color: #cdcdcd;
  letter-spacing: 1.5px;
  font-size: 20px; }
@media (max-width: 767px) {
  .main .main__home .home__title .title__text, .main .main__history .history__text .text__pragrghe, .our-impact .our-impact__title .title__text, .graph .our-impact__title .title__text, .our-team .team__person-one .person-one__title .title__text, .our-team .team__person-two .person-two__title .title__text, .our-team .team__person-three .person-three__title .title__text {
    font-size: 22px; } }

/*=-=-=-=-=-=-=-=-=-=-=- Start Main our impact -=-=-=-=-=-=-=-=-=-=*/
.our-impact-logo {
  background-image: url(../Images/Desert\ 3.png); }
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-impact-logo {
    background-position: 50%; } }
@media (min-width: 992px) {
  .our-impact-logo {
    background-position: 50% 100%; } }
@media (min-width: 1200px) {
  .our-impact-logo {
    background-position: 100% 100%; } }

.our-impact .our-impact__headding {
  font-size: 50px;
  font-weight: bolder;
  color: #525252; }

.graph {
  margin-block: 150px; }
.graph .graph-lists {
  margin-block: 100px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .graph .graph-lists {
    width: 100%; } }
@media (min-width: 992px) {
  .graph .graph-lists {
    width: 90%;
    margin: auto; } }
@media (min-width: 1200px) {
  .graph .graph-lists {
    width: 100%; } }
.graph .graph-lists .lists__collection {
  position: relative;
  margin-block-start: 50px;
  border-left: 1px solid #e1d7d7;
  border-right: 1px solid #e1d7d7;
  border-top: 1px solid #e1d7d7; }
@media (max-width: 767px) {
  .graph .graph-lists .lists__collection {
    width: 80%;
    margin: auto; } }
.graph .graph-lists .lists__collection .collection__item-graph:before {
  content: '';
  background: #e1d7d7;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%; }
.graph .graph-lists .lists__collection .collection__item-graph {
  border-bottom: 1px solid #e1d7d7;
  padding-block: 20px;
  color: #525252; }
.graph .graph-lists .lists__collection .collection__item-graph .item-graph__num {
  position: relative;
  right: 45px;
  bottom: 30px; }
.graph .graph-lists .lists__collection .collection__num {
  display: flex;
  justify-content: space-between;
  margin-block-start: 10px;
  color: #525252;
  position: relative; }
.graph .graph-lists .lists__collection .collection__num .number__outline-one:before {
  content: '';
  position: absolute;
  background: #797979;
  left: 4%;
  bottom: 29px;
  width: 17%;
  height: 58px;
  -mos-transition: 2s all ease-in-out;
  -webkit-transition: 2s all ease-in-out;
  -o-transition: 2s all ease-in-out;
  -xs-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out; }
.graph .graph-lists .lists__collection .collection__num .number__outline-one:hover:before {
  background: #cdcdcd;
  height: 177px; }
.graph .graph-lists .lists__collection .collection__num .number__outline-two:before {
  content: '';
  position: absolute;
  background: #797979;
  left: 29%;
  bottom: 29px;
  width: 17%;
  height: 58px;
  -mos-transition: 2s all ease-in-out;
  -webkit-transition: 2s all ease-in-out;
  -o-transition: 2s all ease-in-out;
  -xs-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out; }
.graph .graph-lists .lists__collection .collection__num .number__outline-two:hover:before {
  background: #cdcdcd;
  height: 294px; }
.graph .graph-lists .lists__collection .collection__num .number__outline-three:before {
  content: '';
  position: absolute;
  background: #797979;
  left: 54%;
  bottom: 29px;
  width: 17%;
  height: 58px;
  -mos-transition: 2s all ease-in-out;
  -webkit-transition: 2s all ease-in-out;
  -o-transition: 2s all ease-in-out;
  -xs-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out; }
.graph .graph-lists .lists__collection .collection__num .number__outline-three:hover:before {
  background: #cdcdcd;
  height: 473px; }
.graph .graph-lists .lists__collection .collection__num .number__outline-four:before {
  content: '';
  position: absolute;
  background: #797979;
  left: 79%;
  bottom: 29px;
  width: 17%;
  height: 58px;
  -mos-transition: 2s all ease-in-out;
  -webkit-transition: 2s all ease-in-out;
  -o-transition: 2s all ease-in-out;
  -xs-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out; }
.graph .graph-lists .lists__collection .collection__num .number__outline-four:hover:before {
  background: #cdcdcd;
  height: 767px; }
.graph .graph-lists .lists__collection .collection__num .num__number-lineOne:before {
  content: '';
  position: absolute;
  background: #e1d7d7;
  width: 1px;
  height: 973px;
  bottom: 0;
  left: 25%; }
.graph .graph-lists .lists__collection .collection__num .num__number-lineTwo:before {
  content: '';
  position: absolute;
  background: #e1d7d7;
  width: 1px;
  height: 973px;
  bottom: 0;
  left: 75%; }

.image__groub {
  margin-block: 5px; }
.image__groub .groub-image-one {
  display: flex;
  line-height: 0; }
@media (max-width: 767px) {
  .image__groub .groub-image-one {
    flex-direction: column; } }
.image__groub .groub-image-one img {
  max-width: 50%;
  margin-inline-end: 5px; }
@media (max-width: 767px) {
  .image__groub .groub-image-one img {
    max-width: 100%;
    margin-block: 3px;
    margin-inline: unset; } }
.image__groub .groub-image-two {
  display: flex; }
@media (max-width: 767px) {
  .image__groub .groub-image-two {
    flex-direction: column; } }
.image__groub .groub-image-two :nth-child(2) {
  margin-inline: 3px; }
@media (max-width: 767px) {
  .image__groub .groub-image-two :nth-child(2) {
    margin-inline: unset; } }
.image__groub .groub-image-two img {
  max-width: 33.3333%;
  margin-block: 5px; }
@media (max-width: 767px) {
  .image__groub .groub-image-two img {
    max-width: 100%;
    margin-block: 3px; } }
.image__groub .groub-image-three {
  display: flex;
  line-height: 0; }
@media (max-width: 767px) {
  .image__groub .groub-image-three {
    flex-direction: column; } }
.image__groub .groub-image-three img {
  max-width: 50%;
  margin-inline-end: 5px; }
@media (max-width: 767px) {
  .image__groub .groub-image-three img {
    max-width: 100%;
    margin-block: 3px;
    margin-inline: unset; } }

/*=-=-=-=-=-=-=-=-=-=-=- End Main our impact -=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Start Maulty Codeing -=-=-=-=-=-=-=-=-=-=*/
.our-impact .our-impact__title, .graph .our-impact__title {
  margin-block: 50px; }
.our-impact .our-impact__title:last-of-type, .graph .our-impact__title:last-of-type {
  margin-block-end: 200px; }
.our-impact .our-impact__title .title__hedding, .graph .our-impact__title .title__hedding {
  color: #a8a8a8;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px; }

/*=-=-=-=-=-=-=-=-=-=-=- Start Main Our Team -=-=-=-=-=-=-=-=-=-=*/
@media (max-width: 767px) {
  .our-team .team__person-one .person-one__logo img {
    width: 100%; } }
@media (max-width: 767px) {
  .our-team .team__person-one {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-team .team__person-one {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 1200px) {
  .our-team .team__person-one {
    flex-direction: row;
    text-align: left; } }
@media (max-width: 767px) {
  .our-team .team__person-two .person-two__logo img {
    width: 100%; } }
@media (max-width: 767px) {
  .our-team .team__person-two {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-team .team__person-two {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 1200px) {
  .our-team .team__person-two {
    flex-direction: row-reverse;
    text-align: right; } }
.our-team .team__person-two .person-two__title {
  direction: rtl; }
@media (min-width: 992px) {
  .our-team .team__person-two .person-two__title {
    direction: ltr; } }
@media (max-width: 767px) {
  .our-team .team__person-three .person-three__logo img {
    width: 100%; } }
@media (max-width: 767px) {
  .our-team .team__person-three {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-team .team__person-three {
    flex-direction: column;
    text-align: center; } }
@media (min-width: 1200px) {
  .our-team .team__person-three {
    flex-direction: row;
    text-align: left; } }

/*=-=-=-=-=-=-=-=-=-=-=- End Main Our Team -=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Mailte Coding -=-=-=-=-=-=-=-=-=-=-=-=*/
.our-team .team__person-one, .our-team .team__person-two, .our-team .team__person-three {
  display: flex; }
@media (min-width: 992px) {
  .our-team .team__person-one, .our-team .team__person-two, .our-team .team__person-three {
    margin-block: 50px; } }
@media (min-width: 1200px) {
  .our-team .team__person-one, .our-team .team__person-two, .our-team .team__person-three {
    margin-block: 50px; } }

.our-team .team__person-one .person-one__title, .our-team .team__person-two .person-two__title, .our-team .team__person-three .person-three__title {
  padding-inline: 20px;
  line-height: 1.5; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .our-team .team__person-one .person-one__title, .our-team .team__person-two .person-two__title, .our-team .team__person-three .person-three__title {
    transform: unset; } }
@media (min-width: 1200px) {
  .our-team .team__person-one .person-one__title, .our-team .team__person-two .person-two__title, .our-team .team__person-three .person-three__title {
    transform: translate(0, 40%); } }

.our-team .team__person-one .person-one__title .title__name, .our-team .team__person-two .person-two__title .title__name, .our-team .team__person-three .person-three__title .title__name {
  color: #525252;
  font-size: 40px; }

.our-team .team__person-one .person-one__title .title__headding, .our-team .team__person-two .person-two__title .title__headding, .our-team .team__person-three .person-three__title .title__headding {
  color: #a8a8a8;
  font-size: 30px; }

/*=-=-=-=-=-=-=-=-=-=-=- Start Main Information -=-=-=-=-=-=-=-=-=-=*/
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 150px; }
.information .information__volunteer-title {
  margin-block-end: 100px;
  line-height: 1.5; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .information .information__volunteer-title {
    max-width: 100%; } }
@media (min-width: 992px) {
  .information .information__volunteer-title {
    max-width: 70%; } }
.information .information__volunteer-title .volunteer-title__headding {
  color: #525252;
  font-weight: bolder; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .information .information__volunteer-title .volunteer-title__headding {
    font-size: 50px; } }
@media (min-width: 992px) {
  .information .information__volunteer-title .volunteer-title__headding {
    font-size: 35px; } }
.information .information__volunteer-title .volunteer-title__text {
  color: #cdcdcd; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .information .information__volunteer-title .volunteer-title__text {
    font-size: 30px; } }
@media (min-width: 992px) {
  .information .information__volunteer-title .volunteer-title__text {
    font-size: 18px; } }
.information .information__form {
  width: 100%;
  margin: auto; }
@media (min-width: 992px) {
  .information .information__form {
    width: 70%; } }
@media (min-width: 1200px) {
  .information .information__form {
    width: 70%; } }
.information .information__form .form {
  display: flex;
  flex-direction: column; }
.information .information__form .form label {
  color: #c0b8b5; }
.information .information__form .form .form__name {
  display: flex;
  position: relative; }
.information .information__form .form .form__name .lable-name {
  position: absolute;
  bottom: 60px; }
.information .information__form .form .form__name .name__first {
  height: 40px;
  width: 50%;
  margin-inline-end: 10px;
  padding-inline-start: 5px; }
.information .information__form .form .form__name .name__last {
  height: 40px;
  width: 50%;
  padding-inline-start: 5px; }
.information .information__form .form .form__email {
  height: 40px; }
.information .information__form .form .form__subject {
  height: 40px; }
.information .information__form .form .form__textarea {
  height: 200px; }

/*=-=-=-=-=-=-=-=-=-=-=- End Main Information -=-=-=-=-=-=-=-=-=-=*/
.information .information__form .form .form__name .name__first, .information .information__form .form .form__name .name__last, .information .information__form .form .form__email, .information .information__form .form .form__subject, .information .information__form .form .form__textarea, .form__number {
  outline: none;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  color: #525252;
  margin-block: 10px; }

.phone__lable {
  display: block; }

.form__number {
  width: 10%;
  height: 40px;
  margin-inline-end: 10px; }

/* Start Footer */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  font-size: 23px;
  line-height: 2; }
@media (max-width: 767px) {
  .footer {
    padding-block-end: 100px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding-block-end: 100px; } }
.footer .footer__collection {
  display: flex; }
@media (max-width: 767px) {
  .footer .footer__collection {
    align-items: center;
    flex-direction: column;
    justify-content: center; } }
.footer .footer__collection .collection__item {
  padding-inline: 10px; }
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer__collection .collection__item {
    padding-inline: 8px; } }
.footer .footer__collection .collection__item .scoil__link {
  color: #121212;
  font-size: 25px; }
.footer .footer__collection .collection__item .scoil__link:hover {
  color: #525252; }
.footer .footer__collection .collection__item .item__link {
  text-decoration: none;
  color: #525252; }
.footer .footer__collection .collection__item .item__link:hover {
  color: #cdcdcd; }
.footer .footer__copyright {
  color: #121212;
  letter-spacing: 3px;
  text-transform: uppercase; }
.footer .footer__copyright .copyright__link {
  color: #525252; }
.footer .footer__copyright .copyright__link:hover {
  color: #cdcdcd; }

/*# sourceMappingURL=style.css.map */
