/* Start Footer */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  line-height: 2;  

  @media #{$maxMobile} {
    padding-block-end: 90px;
  }

  @media #{$minSmall} {
    padding-block-end: 90px;
  }

  @media #{$minMedium} {
    padding-block-end: 90px;
  }
  
  @media #{$maxMobile} {
    .footer__collection.socil {
      flex-direction: unset;
      margin-block-end: 30px;
    }

  }

  &__collection {
    display: flex;

    @media #{$maxMobile} {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &--item {
      padding-inline: 5px;

      @media #{$minSmall} {
        padding-inline: 8px;
      }
    }
    
    &--link {

      color: $linkColor;
      font-size: 18px;
      @extend %transition;
      &:hover {
        color: $headinColor;
      }
    }

    &--link {
      text-decoration: none;
      color: $headinColor;
      @extend %transition;
      &:hover {
        color: $textColor;
      }
    }
  }
  .footer__copyright {
    color: $linkColor;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media #{$maxMobile} {
      text-align: center;
    }
    
    .copyright__link {
      color: $headinColor;
      @extend %transition;
      &:hover {
        color: $textColor;
      }

      @media #{$maxMobile} {
        display: block;
      }
    }
  }
}





