/* Start Footer */
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  font-size: 23px;
  line-height: 2;  

  @media #{$maxMobile} {
    padding-block-end: 100px;
  }

  @media #{$minSmall} {
    padding-block-end: 100px;
  }

  // @media #{$minLarge} {
  //   font-size: unset;
  // }

  // @media #{$minMedium} {
  //   font-size: unset;
  // }

  // @media #{$minSmall} {
  //   font-size: 23px;
  // }
  
  .footer__collection {
    display: flex;

    @media #{$maxMobile} {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .collection__item {
      padding-inline: 10px;

      @media #{$minSmall} {
        padding-inline: 8px;
      }
      
      .scoil__link {
        color: $linkColor;
        font-size: 25px;
        @extend %transition;
        &:hover {
          color: $headinColor;
        }
      }

      .item__link {
        text-decoration: none;
        color: $headinColor;
        @extend %transition;
        &:hover {
          color: $textColor;
        }
      }
    }
  }
  .footer__copyright {
    color: $linkColor;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    .copyright__link {
      color: $headinColor;
      @extend %transition;
      &:hover {
        color: $textColor;
      }
    }
  }
}





