.container {
  margin: auto;
  width: 1230px;
  min-width: 320px;
  position: relative;
  padding-inline: 15px;

  @media #{$maxMobile} {
    width: 100%;
  }

  @media #{$minSmall} {
    width: 540px;
  }

  @media #{$minMedium} {
    width: 720px;
  }

  @media #{$minLarge} {
    width: 960px;
  }

  @media #{$min-XLarge} {
    width: 1140px;
  }
}

%imageCode {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

%pragragheImage {
  // color: $logoColor;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 5em;
  line-height: 1em;
  // width: 1150px;
  // word-break: break-word;
  // width: 50%;
  // hyphens: auto;
  @media #{$maxMobile} {
    font-size: 3em;
    // width: 90%;
    // letter-spacing: -.1em;
    // top: 65%;
    // transform: translate(-50%, 50%);
  }

  @media #{$minSmall} {
    // font-size: 3.5em;
    letter-spacing: -3px;
    // transform: translate(-50%, 50%);
  }

  // @media #{$minMedium} {
  //   font-size: 5em;
  // }

  // @media #{$minLarge} {
  //   width: 62%;
  // }

  // @media #{$min-XLarge} {
  //   width: 40%;
  // }

  // @media #{$minLarge} {
  //   font-size: 6em;
  // }
}

%transition {
  @include prefixis(transition, .50s color, webkit mos xs o);
}
