/*=-=-=-=-=-=-=-=-=-=-=-=- Start Relative Box -=-=-=-=-=-=-=-=-=-=-=-=-=*/
.create-site {
  position: fixed;
  background: #121212;
  right: .5%;
  bottom: 10px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &--icon {
      line-height: 0;
    }

    &--title {
      color: $logoColor;
      display: flex;
      flex-direction: column;
      padding-inline-start: 20px;
      line-height: 1.7;
    }

    &--small-site {
      font-size: 10px;
    }
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=- End Relative Box -=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=- Start Header -=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

header {
  @media #{$maxMobile} {
    position: fixed;
    z-index: 999;
    background: #FFF;
    width: 100%;
    top: 0;
  }

  @media #{$minSmall} {
    position: fixed;
    z-index: 999;
    background: $podyBackground;
    width: 100%;
    top: 0;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 40px;
  padding-block-end: 20px;

  @media #{$maxMobile} {
    padding: 0;
  }

  &__collection-left {

    &--lists {
      display: flex;

      @media #{$maxMobile} {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -40px;
        left: -1030px;
        z-index: 9999;
        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        background: $podyBackground;
        padding-block-start: 113px;
        padding-inline-start: 50px;
        letter-spacing: 5px;
        transition: left 1s;
      }

      @media #{$minSmall} {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -40px;
        left: -1030px;
        z-index: 9999;
        font-size: 25px;
        line-height: 50px;
        text-transform: uppercase;
        background: $podyBackground;
        padding-block-start: 80px;
        padding-inline-start: 50px;
        letter-spacing: 5px;
        transition: left 1s;
      }

      @media #{$minLarge} {
        text-transform: capitalize;
        width: auto;
        display: flex;
        position: unset;
        flex-direction: unset;
        height: auto;
        font-size: unset;
        padding: unset;
        letter-spacing: 1px;
        line-height: unset;
        background: transparent;
      }
    }
  }

  &--item {
    padding-inline: 10px;
  }

  &__headding {
    letter-spacing: 5px;

    &--link {
      color: #000;
      font-size: 25px;
      text-decoration: none;
    }
  }

  &__collection-right {

    &--lists {
      @extend .navbar__collection-left--lists;

      @media #{$maxMobile} {
        top: 190px;
        padding-block-start: 0;
      }

      @media #{$minSmall} {
        top: 190px;
        padding-block-start: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $mainColor;
    transition: color .5s;
  
    &:hover {
      color: #707070;
    }
  }
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=- End Header -=-=-=-=-=-=-=-=-=-=-=-=-=-=*/