%input {
  width: 70%;
  padding-block: 30px;
  font-size: small;
  font-weight: bolder;
  text-transform: uppercase;
  color: $logoColor;
  background-color: #0000000b;
  border-radius: 3px;
  border: 2px solid $logoColor;
  outline: 0;
  text-decoration: none;
  text-align: center;
  @include prefixis(transition, background-color .5s, webkit moz ms o);

  &:hover {
    color: $mainColor;
    background-color: $logoColor;
    cursor: pointer;
    @extend %transition;
  }
}

.mobile {
  position: absolute;
  top: 40%;
  right: 5%;
  background: $logoColor;

  @media #{$minSmall} {
    display: block;
  }

  @media #{$minMedium} {
    display: none;
  }

  &__screen {
    height: auto;
    width: auto;
    display: inline-block;
    
    &--btn {
      display: block;
      background: #000;
      width: 30px;
      height: 3px;

      &:not(:last-of-type) {
        margin-block: 5px;
      }
    }
  }
}

.mobil-close {
  background: $linkColor;
  color: $logoColor;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 99999999;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  padding-block: 10px;
  padding-inline: 10px;
  transition: 1s all;

  @media #{$minSmall} {
    display: block;
  }

  @media #{$minMedium} {
    display: none;
  }

  @media #{$minLarge} {
    display: none;
  }
}

%btn {
  width: 150px;
  height: 50px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: $headinColor;
  background: $podyBackground;
  border-radius: 3px;
  border: 2px solid $headinColor;
  cursor: pointer;
  @include prefixis(transition, 1s all, mos webkit o xs);

  &:hover {
    background: $headinColor;
    color: $logoColor;
  }

  @media #{$maxMobile} {
    width: 100%;
  }

}