body {
  background: $podyBackground;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  height: 1500px;
}

* {
  @include prefixis(box-sizing, border-box, webkit mos o)
}

ul,
ol {
  list-style: none;
  padding: 0;
}

@media #{$maxMobile} {

  .mapouter,
  .gmap_canvas {
    width: 470px !important;
  }

  iframe.gmap_iframe {
    width: 500px !important;
  }

}