/* Start the first page home /Main/ */

.image__logo-text {
  height: 690px;
  background-image: url(../Images/Desert\ 1.png);
  @extend %imageCode;

  @media #{$maxMobile} {
    // min-height: 1500px;
    background-position: 50% 20px;
  }

  @media #{$minSmall} {

    background-position: 50% 20px;
  }

  @media #{$minMedium} {
    // min-height: 600px;
  }

  @media #{$minLarge} {
    background-position: 70% 40%;
  }

  .overly {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 19, 17, .5);

    .layout-text {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo-text__headding {
        @extend %pragragheImage;
        letter-spacing: -2.1px;
      }
    }
  }

  .logo__title {
    @extend %pragragheImage;
  }

  .logo__small-title {
    font-size: 20px;
    color: $logoColor;
    position: absolute;
    top: 50%;
    transform: translate(0, 500px);

    // @media #{$minSmall} {
    //   top: 73%;
    //   left: 35%;
    // }

    // @media #{$minMedium} {
    //   top: 73%;
    //   left: 35%;
    // }

    // @media #{$minLarge} {
    //   top: 65%;
    //   left: 40%;
    // }
  }
}

.main {
  margin-block-start: 150px;

  .main__home {
    // @extend %widthTextMain;

    .home__title {
      margin-block-end: 100px;

      .title__hedding {
        @extend %color-font-headding;
      }

      .title__text {
        @extend %stylePragraghe;
      }
    }
  }


  .home__row {
    line-height: 1.5;
    margin-block-end: 150px;

    @media #{$maxMobile} {
      text-align: center;
    }

    @media #{$minSmall} {
      text-align: center;
    }

    @media #{$minMedium} {
      display: flex;
    }

    .row__text {
      position: relative;

      @media #{$minLarge} {
        width: calc(100% / 4);
        position: relative;

        &:not(:last-of-type) {
          margin-inline-end: 20px;
        }
      }

      .text__number {
        color: $headinColor;
      }

      .text__slash:after {
        content: '';
        position: absolute;
        top: 40px;
        width: 25px;
        height: 2px;
        background: $headinColor;
        margin-inline-start: -25px;
      }

      .text__pragraghe {
        color: $textColor;
        font-size: 20px;

        // @media #{$minSmall} {
        //   // width: auto;
        //   font-size: 35px;
        // }

        // @media #{$minMedium} {
        //   // width: 80%;
        //   font-size: 25px;
        // }

        // @media #{$minLarge} {
        //   // width: 90%;
        //   font-size: 20px;
        // }
      }
    }
  }

  .main__history {

    .history__logo {
      /* Logo Main */
      background-image: url(../Images/Desert\ 2.png);
      @extend %imageCode;
      height: 800px;

      @media #{$minSmall} {
        background-position: 45% 170px;
      }

      @media #{$minMedium} {
        background-position: 100% 100%;
      }

      @media #{$minLarge} {
        background-position: 100% 100%;
      }

      // .logo__title {
      // @extend %pragragheImage;
      // }

      // .logo__small-title {
      //   font-size: 20px;
      //   color: $logoColor;
      //   position: absolute;

      // @media #{$minSmall} {
      //   top: 73%;
      //   left: 35%;
      // }

      // @media #{$minMedium} {
      //   top: 73%;
      //   left: 35%;
      // }

      // @media #{$minLarge} {
      //   top: 65%;
      //   left: 40%;
      // }
      // }
    }

    .history__text {
      // @extend %widthTextMain;
      padding-block: 150px;

      .history__headin {
        @extend %color-font-headding;
      }

      .text__pragrghe {
        @extend %stylePragraghe;
      }
    }
  }

  .main__image {
    background-image: url(../Images/Desert\ 3.png);
    @extend %imageCode;
    min-height: 650px;

    @media #{$minSmall} {
      background-position: 50% 230px;
    }

    @media #{$minMedium} {
      background-position: 100% 100%;
    }

    @media #{$minLarge} {
      background-position: 100% 100%;
    }

    .control {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 50px;

      .control__text {
        color: $logoColor;
        position: relative;
        top: 30px;
      }

      .control__headin {
        color: $logoColor;
        font-size: 80px;
      }

      .join-today {
        @extend %input
      }

      .donaty-today {
        @extend %input;
      }
    }
  }
}



/*=-=-=-=-=-=-=- Malite Code in home Page Alone -=-=-=-=-=-=-=-=-=*/
// %widthTextMain {
//   margin: auto;

//   @media #{$minSmall} {
//     width: auto;
//   }

//   @media #{$minMedium} {
//     width: 75%;
//   }

//   @media #{$minLarge} {
//     width: 85%;
//   }
// }

%color-font-headding {
  color: $headinColor;
  font-size: 50px;

  // @media #{$maxMobile} {
  //   font-size: 50px;
  // }

  // @media #{$minSmall} {
  //   font-size: 50px;
  // }

  // @media #{$minMedium} {
  //   font-size: 50px;
  // }

  // @media #{$minLarge} {
  //   font-size: 50px;
  // }
}

%stylePragraghe {
  line-height: 1.5;
  color: $textColor;
  letter-spacing: 1.5px;
  font-size: 20px;

  @media #{$maxMobile} {
    font-size: 22px;
  }

  // @media #{$minSmall} {
  //   font-size: 35px;
  // }

  // @media #{$minMedium} {
  //   font-size: 25px;
  // }

  // @media #{$minLarge} {
  //   font-size: 20px;
  // }
}


// /*Start Navegation*/

// nav {
//     width:60%;
//     padding-top:120px;
//     margin:auto;
//     line-height: 1.7
// }

// nav section {
//     margin-bottom:30px
// }

// nav section h1 {
//     padding-top: 40px;
//     color: $mainColor
// }

// nav .nsap {
//     -webkit-column-count:3;
//     column-count:4;
// }

// nav .nsap section span {
//     display:block;
//     margin-bottom:30px
// }

// nav .nsap section article {
//     width:60%;
//     margin-bottom:auto;
//     display:inline-block;
// }

// nav .nsap section span hr {
//     float: $floatLeft;
//     width:6px;
//     color:#b7b7b7;
//     background-color:#b7b7b7;
//     border:.5px solid #b7b7b7;
// }

// nav .container {
//     margin:auto;
//     display: inline-block
// }

// nav .container section {
//     background-image: url(../Images/Desert%202.png);
//     background-size:cover;
//     width:160%;
//     height:780px;
//     margin-left: -265px
// }

// nav .container .ndc q {
//     display:inline-block;
//     padding:200px 0 0 350px;
//     font-size: 80px;
//     text-align: center;
//     color:#FFF
// }

// h6 {
//     text-align:center;
//     color:#FFF;
//     font-size: $mainfontSize;
// }

// nav .container h1 {
//     margin-top:130px;
//     color: $mainColor
// }

// nav .container article {
//     line-height: 1.8;
//     margin-bottom:180px
// }

// nav .container article p {
//     margin-top:50px
// }

// /*End Navegation*/