/* Start the first page home /Main/ */
.container-image {
  width: 98%;
  margin: auto;

  &__logo-text {
    height: 708px;
    background-position: 50%;
    background-image: url(../Images/Desert\ 0.png);
    @extend %imageCode;
  }
  .--mg-top {

    @media #{$maxMobile} {
      top: 80px;
    }
  }
}

.logo-text {
  position: relative;

  &__headding {
    @extend %pragragheImage;
  }

  &__small-title {
    font-size: 18px;
    // color: $logoColor;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: .3px #fff;
    color: transparent;

    @media #{$maxMobile} {
      font-size: 16px;
      width: 100%;
      text-align: center;
    }

    @media #{$minMedium} {
      top: 92%;
    }

    @media #{$min-XLarge} {
      top: 80%;
    }

    // @media #{$minMedium} {
    //   transform: translate(-50%, 600px);
    // }
  }

  .control {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .control__text {
      color: $logoColor;
      position: relative;
      top: 30px;
    }

    .control__headin {
      color: $logoColor;
      font-size: 80px;

      @media #{$maxMobile} {
        font-size: 4em;
      }
    }

    .join-today {
      @extend %input;
    }

    .donaty-today {
      @extend %input;
    }
  }
}

.main {
  margin-block-start: 90px;

  .main-home {

    &__title {
      margin-block-end: 50px;

      &--hedding {
        @extend %color-font-headding;
      }

      &--text {
        @extend %stylePragraghe;
      }
    }
  
    &__row {
      line-height: 1.5;
      margin-block-end: 40px;
    

      @media #{$maxMobile} {
        grid-template-columns: auto;
        grid-row-gap: 10px;
      }

      @media #{$minMedium} {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
      }

      @media #{$minLarge} {
        grid-column-gap: 30px;
        grid-template-columns: auto auto auto auto;
      }

      &--title {
        position: relative;
      }
    }

    &__number {
      color: $textOurImpact;
    }

    &__slash:after {
      content: '';
      position: absolute;
      top: 40px;
      width: 10px;
      height: 2px;
      background: $textOurImpact;
      margin-inline-start: -25px;
    }

    &__text {
      color: $textColor;
      font-size: 20px;
      padding-block-start: 30px;

      @media #{$maxMobile} {
        padding-block-end: 30px;
      }
    }
  }

    /* Logo Main */
  .main-history {

    .container-image {

      &__logo-text {
        background-image: url(../Images/Desert\ 2.png);
        @extend %imageCode;
        height: 800px;
        background-position: 50%;
      }
    }


    &__text {
      padding-block: 100px;

      &--headin {
        @extend %color-font-headding;
      }

      &--pragrghe {
        @extend %stylePragraghe;
      }
    }
  }

  .container-image {

    &__logo-text {
      background-image: url(../Images/Desert\ 3.png);
      @extend %imageCode;
      min-height: 650px;
  
      // @media #{$minSmall} {
      //   background-position: 50% 230px;
      // }
  
      // @media #{$minMedium} {
      //   background-position: 100% 100%;
      // }
  
      // @media #{$minLarge} {
      //   background-position: 100% 100%;
      // }
    }
  }
}



/*=-=-=-=-=-=-=- Malite Code in home Page Alone -=-=-=-=-=-=-=-=-=*/

%color-font-headding {
  color: $headinColor;
  margin-block-end: 20px;
}

%stylePragraghe {
  line-height: 1.5;
  color: $textColor;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


// /*Start Navegation*/

// nav {
//     width:60%;
//     padding-top:120px;
//     margin:auto;
//     line-height: 1.7
// }

// nav section {
//     margin-bottom:30px
// }

// nav section h1 {
//     padding-top: 40px;
//     color: $mainColor
// }

// nav .nsap {
//     -webkit-column-count:3;
//     column-count:4;
// }

// nav .nsap section span {
//     display:block;
//     margin-bottom:30px
// }

// nav .nsap section article {
//     width:60%;
//     margin-bottom:auto;
//     display:inline-block;
// }

// nav .nsap section span hr {
//     float: $floatLeft;
//     width:6px;
//     color:#b7b7b7;
//     background-color:#b7b7b7;
//     border:.5px solid #b7b7b7;
// }

// nav .container {
//     margin:auto;
//     display: inline-block
// }

// nav .container section {
//     background-image: url(../Images/Desert%202.png);
//     background-size:cover;
//     width:160%;
//     height:780px;
//     margin-left: -265px
// }

// nav .container .ndc q {
//     display:inline-block;
//     padding:200px 0 0 350px;
//     font-size: 80px;
//     text-align: center;
//     color:#FFF
// }

// h6 {
//     text-align:center;
//     color:#FFF;
//     font-size: $mainfontSize;
// }

// nav .container h1 {
//     margin-top:130px;
//     color: $mainColor
// }

// nav .container article {
//     line-height: 1.8;
//     margin-bottom:180px
// }

// nav .container article p {
//     margin-top:50px
// }

// /*End Navegation*/