/*=-=-=-=-=-=-=-=-=-=-=- Start Main Our Team -=-=-=-=-=-=-=-=-=-=*/
.our-team {
  .team__person-one {
    @extend %groub-image-title;

    @media #{$maxMobile} {
      .person-one__logo {
        img {
          width: 100%;
        }
      }
    }

    @media #{$maxMobile} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row;
      text-align: left;
    }

    .person-one__title {
      @extend %groub-title;

      .title__name {
        @extend %title-name;
      }

      .title__headding {
        @extend %title__headding;
      }

      .title__text {
        @extend %stylePragraghe;
      }
    }
  }

  .team__person-two {
    @extend %groub-image-title;

    @media #{$maxMobile} {
      .person-two__logo {
        img {
          width: 100%;
        }
      }
    }

    @media #{$maxMobile} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row-reverse;
      text-align: right;
    }

    .person-two__title {
      @extend %groub-title;
      direction: rtl;

      @media #{$minMedium} {
        direction: ltr;
      }

      .title__name {
        @extend %title-name;
      }

      .title__headding {
        @extend %title__headding;
      }

      .title__text {
        @extend %stylePragraghe;
      }
    }
  }

  .team__person-three {
    @extend %groub-image-title;

    @media #{$maxMobile} {
      .person-three__logo {
        img {
          width: 100%;
        }
      }
    }

    @media #{$maxMobile} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row;
      text-align: left;
    }

    .person-three__title {
      @extend %groub-title;

      .title__name {
        @extend %title-name;
      }

      .title__headding {
        @extend %title__headding;
      }

      .title__text {
        @extend %stylePragraghe;
      }
    }
  }
}

/*=-=-=-=-=-=-=-=-=-=-=- End Main Our Team -=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=- Mailte Coding -=-=-=-=-=-=-=-=-=-=-=-=*/
%groub-image-title {
  display: flex;


  // @media #{$minSmall} {
  //   margin-block: 250px;
  // }

  @media #{$minMedium} {
    margin-block: 50px;
  }

  @media #{$minLarge} {
    margin-block: 50px;
  }
}

%groub-title {
  padding-inline: 20px;
  line-height: 1.5;


  @media #{$minSmall} {
    transform: unset;
  }

  @media #{$minLarge} {
    transform: translate(0, 40%);
  }
}

%title-name {
  color: $headinColor;
  font-size: 40px;

  // @media #{$minSmall} {
  //   font-size: 100px;
  // }

  // @media #{$minMedium} {
  //   font-size: 60px;
  // }

  // @media #{$minLarge} {
  //   font-size: 40px;
  // }
}

%title__headding {
  color: $textOurImpact;
  font-size: 30px;

  // @media #{$minSmall} {
  //   font-size: 80px;
  // }

  // @media #{$minMedium} {
  //   font-size: 40px;
  // }

  // @media #{$minLarge} {
  //   font-size: 30px;
  // }
}

// %title__text {
//   color: $textColor;

//   @media #{$minSmall} {
//     font-size: 40px;
//   }

//   @media #{$minMedium} {
//     font-size: 30px;
//   }

//   @media #{$minLarge} {
//     font-size: 18px;
//   }
// }