/*=-=-=-=-=-=-=-=-=-=-=- Start Main Our Team -=-=-=-=-=-=-=-=-=-=*/
.our-team {
  .team__person-one {
    @extend %groub-image-title;
    

    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row;
      text-align: left;
    }

      .person-one__title {
        @extend %groub-title;

        .title__name {
          @extend %title-name;
        }

        .title__headding {
          @extend %title__headding;
        }

        .title__text {
          @extend %title__text;
        }
    }
  }

  .team__person-two {
    @extend %groub-image-title;
    
    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row-reverse;
      text-align: right;
    }

      .person-two__title {
        @extend %groub-title;
        direction: rtl;

        .title__name {
          @extend %title-name;
        }

        .title__headding {
          @extend %title__headding;
        }

        .title__text {
          @extend %title__text;
        }
    }
  }

  .team__person-three {
    @extend %groub-image-title;
   
    @media #{$minSmall} {
      flex-direction: column;
      text-align: center;
    }

    @media #{$minLarge} {
      flex-direction: row;
      text-align: left;
    }

      .person-three__title {
        @extend %groub-title;

        .title__name {
          @extend %title-name;
        }

        .title__headding {
          @extend %title__headding;
        }

        .title__text {
          @extend %title__text;
        }
    }
  }
}
/*=-=-=-=-=-=-=-=-=-=-=- End Main Our Team -=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=- Mailte Coding -=-=-=-=-=-=-=-=-=-=-=-=*/
%groub-image-title {
  display: flex;
  

  @media #{$minSmall} {
    margin-block: 250px;
  }

  @media #{$minLarge} {
    margin-block: 50px;
  }
}

%groub-title {
  padding-inline: 50px;
  line-height: 1.5;
  

  @media #{$minSmall} {
    transform: unset;
  }

  @media #{$minLarge} {
    transform: translate(0, 40%);
  }
}

%title-name {
  color: $headinColor;

  @media #{$minSmall} {
    font-size: 100px;
  }

  @media #{$minMedium} {
    font-size: 60px;
  }

  @media #{$minLarge} {
    font-size: 40px;
  }
}

%title__headding {
  color: $textOurImpact;

  @media #{$minSmall} {
    font-size: 80px;
  }

  @media #{$minMedium} {
    font-size: 40px;
  }

  @media #{$minLarge} {
    font-size: 30px;
  }
}

%title__text {
  color: $textColor;

  @media #{$minSmall} {
    font-size: 40px;
  }

  @media #{$minMedium} {
    font-size: 30px;
  }

  @media #{$minLarge} {
    font-size: 18px;
  }
}