/*=-=-=-=-=-=-=-=-=-=-=- Start Main our impact -=-=-=-=-=-=-=-=-=-=*/
.container-image {

  &--catch {
      background-image: url(../Images/Desert\ 3.png);
      @extend %imageCode;
      height: 708px;
  
      @media #{$minSmall} {
        background-position: 50%;
      }
  
      @media #{$minMedium} {
        background-position: 50% 100%;
      }
  
      @media #{$minLarge} {
        background-position: 100% 100%;
      }
    }
}

.main {

  .our-impact {

    &__headding {
      font: {
        size: 2em;
      }
      
      color: $headinColor;
      margin-block-end: 30px;
    }

    &__title {
      @extend %our-impact__title;

      &--hedding {
        @extend %title__hedding;
      }

      &--text {
        @extend %stylePragraghe;
      }
    }
  }

  .container-image {

    .image__logo-text {
      background-image: url(../Images/Desert\ 5.png);
      @extend %imageCode;
      height: 708px;
    }
  }
}

.graph {
  margin-block: 50px;


  .graph-lists {
    margin-block: 50px;

    .--line:before {
      content: "";
      background-color: $borderColor;
      width: 1px;
      height: 510px;
      position: absolute;
      right: 10px;
      bottom: 0;
    } 
      &__collection {
        position: relative;
        width: 90%;
        margin: auto;

        border: {
          left: 1px solid $borderColor;
          // right: 1px solid $borderColor;
          top: 1px solid $borderColor;
        }
        
        @media #{$maxMobile} {
          width: 80%;
          margin-left: auto;
        }
         
        &--item {
          border-bottom: 1px solid $borderColor;
          padding-block: 10px;
          color: $headinColor;
        }

        &--item:before {
          content: '';
          background: $borderColor;
          width: 1px;
          height: 510px;
          position: absolute;
          bottom: 0;
          left: 50%;
        }
               
        &--num {
          display: flex;
          justify-content: space-between;
          margin-block-start: 10px;
          color: $headinColor;
          position: relative;
        }
        
      }  
      // Perant content table
        &--num {
          position: relative;
          right: 35px;
          bottom: 10px;
        }
        // widht column and hover 
        &--outline-one:before {
          content: '';
          position: absolute;
          background: $graphColor;
          left: 4%;
          bottom: 29px;
          width: 15%;
          height: 77px;
          @include prefixis(transition, .2s all ease-in-out, mos webkit o xs);
        }
        
        &--outline-one:hover:before {
          background: $textColor;
        }
        
        &--outline-two:before {
          content: '';
          position: absolute;
          background: $graphColor;
          left: 29%;
          bottom: 29px;
          width: 15%;
          height: 194px;
          @include prefixis(transition, .2s all ease-in-out, mos webkit o xs);
        }
        
        &--outline-two:hover:before {
          background: $textColor;
        }

      &--outline-three:before {
        content: '';
        position: absolute;
        background: $graphColor;
        left: 54%;
        bottom: 29px;
        width: 15%;
        height: 312px;
        @include prefixis(transition, .2s all ease-in-out, mos webkit o xs);
      }

      &--outline-three:hover:before {
        background: $textColor;
      }

      &--outline-four:before {
        content: '';
        position: absolute;
        background: $graphColor;
        left: 79%;
        bottom: 29px;
        width: 15%;
        height: 429px;
        @include prefixis(transition, .2s all ease-in-out, mos webkit o xs);
      }

      &--outline-four:hover:before {
        background: $textColor;
      }
      // line vertical line 
      &--number-lineOne:before {
        content: '';
        position: absolute;
        background: $borderColor;
        width: 1px;
        height: 510px;
        bottom: 0;
        left: 25%;
      }

        &--number-lineTwo:before {
        content: '';
        position: absolute;
        background: $borderColor;
        width: 1px;
        height: 510px;
        bottom: 0;
        left: 75%;
      }
      // hover tooltips
      .tooltips {

        &__text {
          opacity: 0;
          visibility: hidden;
          background: $tooltipsColor;
          color: $logoColor;
          width: 113px;
          display: block;
          position: absolute;
          text-align: center;
          border-radius: 5px;
          padding-block: 5px;
          @include prefixis(transition, opacity .5, webkit moz ms o);
   
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-inline-start: -5px;
            border: {
              width: 5px;
              style: solid;
              color: $tooltipsColor transparent transparent transparent;
            }
          }
        }
      }

      .graph-lists--outline-one .tooltips__text {
        left: 5.5%;
        bottom: 120px;
      }
      .graph-lists--outline-one:hover .tooltips__text {
        opacity: 1;
        visibility: visible;
      }
      .graph-lists--outline-two .tooltips__text {
        left: 30%;
        bottom: 234px;
      }
      .graph-lists--outline-two:hover .tooltips__text {
        opacity: 1;
        visibility: visible;
      }
      .graph-lists--outline-three .tooltips__text {    
        left: 55%;
        bottom: 352px;
      }
      .graph-lists--outline-three:hover .tooltips__text {
        opacity: 1;
        visibility: visible;
      }
      .graph-lists--outline-four .tooltips__text {
        left: 80%;
        bottom: 470px;
      }
      .graph-lists--outline-four:hover .tooltips__text {
        opacity: 1;
        visibility: visible;
      }
  }

  &__our-impact {
    @extend %our-impact__title;

    &--heading {
      @extend %title__hedding;
    }

    &--text {
      @extend %stylePragraghe;
    }
  }
}

.image__groub {
  margin-block: 5px;

  .groub-image-one {
    display: flex;
    justify-content: space-between;
    line-height: 0;

    @media #{$maxMobile} {
      flex-direction: column;
    }

    img {
      width: 49.8%;
      max-width: 100%;
      // margin-inline-end: 5px;

      @media #{$maxMobile} {
        width: 100%;
        margin-block: 2px;
        margin-inline: unset;
      }
    }
  }

  .groub-image-two {
    display: flex;
    margin-block: 4px;
    justify-content: space-between;

    @media #{$maxMobile} {
      flex-direction: column;
      margin-block: 0;
    }

    img {
      max-width: 100%;
      width: 33.1%;

      @media #{$maxMobile} {
        width: 100%;
        margin-block: 2px;
      }
    }
  }

  .groub-image-three {
    display: flex;
    justify-content: space-between;
    line-height: 0;

    @media #{$maxMobile} {
      flex-direction: column;
    }

    img {
      width: 49.8%;
      max-width: 100%;
      // margin-inline-end: 5px;

      @media #{$maxMobile} {
        width: 100%;
        margin-block: 2px;
        margin-inline: unset;
      }
    }
  }
}

/*=-=-=-=-=-=-=-=-=-=-=- End Main our impact -=-=-=-=-=-=-=-=-=-=*/

/*=-=-=-=-=-=-=-=-=-=-=- Start Maulty Codeing -=-=-=-=-=-=-=-=-=-=*/
%our-impact__title {
  margin-block-end: 40px;
  margin-block-start: 30px;
  padding-block: 10px;

  &:last-of-type {
    margin-block-end: 70px;
  }

  %title__hedding {
    color: $textOurImpact;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-block-end: 15px;
  }
}
